.FunctionModalFormText-container {
    display: inline-block;
    padding-right: 10px;
}


.FunctionModalFormText-content {
    .ant-modal-body {
        padding-bottom: 300px;
    }

    .ant-modal {
        top: 100px !important;

        textarea {
            .ant-input {
                height: 32px !important;
            }
        }
    }

}